* {
    margin: 0; /* Elimina el margen predeterminado de todos los elementos */
    padding: 0; /* Elimina el padding predeterminado de todos los elementos */
    box-sizing: border-box; /* Asegura que el ancho y alto incluyan padding y borde */
    text-decoration: none; /* Elimina la decoración predeterminada en los enlaces */
    scroll-behavior: smooth; /* Permite un desplazamiento suave al navegar en la página */
    font-family: "Poppins"; /* Define una fuente personalizada para todo el contenido */
}

:root {
    --bg-color: #080808; /* Color de fondo principal de la página */
    --second-bg-color: #101010; /* Color de fondo secundario */
    --text-color: white; /* Color del texto */
    --main-color: rgb(72, 163, 199); /* Color principal para acentos o elementos destacados */
}

html {
    font-size: 60%;
    overflow-x: hidden;
  }

body {
    background: var(--bg-color); /* Aplica el color de fondo definido en las variables CSS */
}

.header {
    position: fixed; /* Fija el header en una posición que no cambia al hacer scroll */
    width: 100%; /* El header ocupa todo el ancho disponible de la página */
    top: 0;
    left: 0;
    padding: 4rem 15%; /* Elimina cualquier espacio interno adicional del header, si quieres que el padding sea igual en izquierda que en derecha utilizar %*/
    background: rgba(0, 0, 0, 0.3); /* Aplica un fondo negro semitransparente */
    backdrop-filter: blur(10px); /* Agrega un efecto de desenfoque al fondo detrás del header */
    display: flex; /* Da control para alinear los elementos hijos del header */
    justify-content: space-between; /* Coloca los elementos hijos con espacio igual entre ellos */
    align-items: center;/* Centra verticalmente los elementos dentro del header */
    z-index: 1000; /* Asegura que el header esté encima de otros elementos de la página */
}

#menu-icon{
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    /*ca,mbia el estilo del cursor*/
    cursor: pointer;
    /*hace que la transicion sea mas suave*/
    transition: 0.3s ease-in-out;
}

/*El :hover se utiliza para aplicar estilos cuando el puntero esta encima de lo escogido*/
.logo:hover{
    /*Agranda el tamaño*/
 transform: scale(1.1);
}

span{
    background: linear-gradient(
        270deg,
        rgb(87, 210, 241) 10%,
        rgb(46, 117, 224) 100%
    );/*Fondo de colo gradiente*/
    /*Se utilizan las dos ultimas juntas*/
    background-clip: text; /* Aplica el fondo solo al texto */
    color: transparent;/* Hace el texto transparente para mostrar el fondo */
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;/*Representa el grueso de la fuente*/
    font-weight: 500;
    transition: 0.3 ease-in-out;
    border-bottom: 3px solid transparent;/* */
}

.navbar a:hover{
    color: var(--main-color);/*Cambiamos el color al main color*/
    border-bottom: 3px solid var(--main-color);/*Crea una linea debajo de los textos*/
}

.gradient-button{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(
        279deg,
        rgb(87, 210, 241) 10%,
        rgb(46, 117, 224) 100%
    );
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3 ease-in-out;
    color: white;
    border: none;
    text-wrap: nowrap;
}

.gradient-button:hover{
transform: scale(1.10);
}

section{
    min-height: 100vh; /*Indica que el section ocupara el 100% de la pagina*/
    padding: 15rem 10%;  
}

.home{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem; /*Establece espacio entre los elementos*/
}

.home-content{
    display: flex;
    flex-direction: column; /*Organiza el contenido en forma de columna*/
    align-items: right;
    text-align: right;
}

.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1; /*Separacion entre linea*/
}

.home-content h3{
    margin: 1rem 0;
    font-size: 4rem;
    line-height: 1.8;
}

.home-content p{
    font-size: 1.5rem;
}

.home-img img{
    width: 30vw; /*Manejamos el tamaño de la imagen*/
    border-radius: 50%;
    box-shadow: 0 0 30px var(--main-color); /*amos una sombra alrededor de la imagen*/
    transition: 0.4s ease-in-out; /*Tiempo en el que se hace el efecto*/
}

.home-img img:hover{
    box-shadow: 0 0 30px var(--main-color);
    box-shadow: 0 0 50px var(--main-color);
    box-shadow: 0 0 100px var(--main-color);
}

.social-icons a{
    display: inline-flex; /*Cra un contenedor ocupando solo el espacio que necesita, dejando alienar otras estiquetas */
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: 0.3 ease-in-out;
}

.social-icons a:hover{
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}

.btn-group a{
    font-size: 1.8rem;
    margin: 0rem 0.5rem;
    padding: 0.7rem 1.5rem;
    color: black;
    background: linear-gradient(
        279deg,
        rgb(87, 210, 241) 10%,
        rgb(46, 117, 224) 100%
    );
    border-radius: 3rem;
    letter-spacing: 1px;
    transition: 0.3 ease-in-out;
}

.btn-group a:hover{
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.9);
    box-shadow: 0 0 25px var(--main-color);
}

